<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>Search</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/search">Search Users</a></li>
    <li><a href="/form">Add Users</a></li>
    <li><a href="/users">List of Users</a></li>
  </ul>

	<div class="container">
		<fieldset>
  			<% for(let i = 0; i < users.length; i++) { %>
    			<% if(name.name==users[i].firstname || name.name==users[i].lastname){%>
     				<p><%='Firstname: ' + users[i].firstname %>
     					</br>
      				<%='Lastname: ' + users[i].lastname %>
    					</br>
      				<%='Email: ' + users[i].email %></p>
    			<%}%>
  			<%}%>
  		</fieldset>
  	</div>
</body>
</html>