<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<title>Search</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
    	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
	</head>
<body>
	<ul>
	  <li><a href="/">Home</a></li>
	  <li><a class="active" href="/search">Search Users</a></li>
	  <li><a href="/form">Add Users</a></li>
	  <li><a href="/users">List of Users</a></li>
	</ul>

<div style="margin-left:25%;padding:1px 16px;height:1000px;">
	<div class="container">
		<fieldset>
 				<input type="text" name="name" class="ghost-input" placeholder="What's your name?" id="target" autocomplete="off">
 			</form>
 			<ul id="user-info">Nothing has been searched yet...</ul>
 		</fieldset>
 	</div>
 </div>
 
<script type="text/javascript"> 
$( "#target" ).keyup($.debounce(300, function(){
    const users = $(this).val().toLowerCase()
    $.get('/search-result', {data: users}).done(function(response){
      $('#user-info').empty();
      response.userinfo.forEach(user =>{
        $('#user-info').append(`<p>${user.firstname} ${user.lastname} <br> <br> ${user.email}<p>`)
      })
     
    })
    .fail((error)=>{
    console.log('error: '+JSON.stringify(error))
    })
  })
);
</script>
</body>
</html>


